* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***********************/
/*********DRY*************/
/*********************/

.container {
  width: 100%;
  max-width: 1080px;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.cur-default {
  cursor: default;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.d-grid {
  display: grid;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.align-items-center {
  align-items: center;
}

.justify-items-center {
  justify-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-sp-around {
  justify-content: space-around;
}

.justify-content-sp-between {
  justify-content: space-between;
}

.justify-content-sp-evenly {
  justify-content: space-evenly;
}

.place-self-center {
  place-self: center;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.pos-sticky {
  position: sticky;
}

.t-0 {
  top: 0;
}

.b-0 {
  bottom: 0;
}

.l-0 {
  left: 0;
}

.l-inf {
  left: 1920px;
}

.r-0 {
  right: 0;
}

.r-inf {
  right: 1920px;
}

.m-0 {
  margin: 0;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-auto {
  margin: auto;
}

.mx-0,
.ml-0 {
  margin: 0;
}

.mx-10,
.ml-10 {
  margin-left: 10px;
}

.mx-15,
.ml-15 {
  margin-left: 15px;
}

.mx-auto,
.ml-auto {
  margin-left: auto;
}

.mx-0,
.mr-0 {
  margin-right: 0;
}

.mx-10,
.mr-10 {
  margin-right: 10px;
}

.mx-15,
.mr-15 {
  margin-right: 15px;
}

.mx-auto,
.mr-auto {
  margin-right: auto;
}

.my-0,
.mt-0 {
  margin-top: 0;
}

.my-10,
.mt-10 {
  margin-top: 10px;
}

.my-15,
.mt-15 {
  margin-top: 15px;
}

.my-auto,
.mt-auto {
  margin-top: auto;
}

.my-0,
.mb-0 {
  margin-bottom: 0;
}

.my-10,
.mb-10 {
  margin-bottom: 10px;
}

.my-15,
.mb-15 {
  margin-bottom: 15px;
}

.my-auto,
.mb-auto {
  margin-bottom: auto;
}

.p-0 {
  padding: 0;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-auto {
  padding: auto;
}

.px-0,
.pl-0 {
  padding: 0;
}

.px-10,
.pl-10 {
  padding-left: 10px;
}

.px-15,
.pl-15 {
  padding-left: 15px;
}

.px-auto,
.pl-auto {
  padding-left: auto;
}

.px-0,
.pr-0 {
  padding-right: 0;
}

.px-10,
.pr-10 {
  padding-right: 10px;
}

.px-15,
.pr-15 {
  padding-right: 15px;
}

.px-auto,
.pr-auto {
  padding-right: auto;
}

.py-0,
.pt-0 {
  padding-top: 0;
}

.py-10,
.pt-10 {
  padding-top: 10px;
}

.py-15,
.pt-15 {
  padding-top: 15px;
}

.pt-70 {
  padding-top: 70px;
}

.py-auto,
.pt-auto {
  padding-top: auto;
}

.py-0,
.pb-0 {
  padding-bottom: 0;
}

.py-10,
.pb-10 {
  padding-bottom: 10px;
}

.py-15,
.pb-15 {
  padding-bottom: 15px;
}

.py-auto,
.pb-auto {
  padding-bottom: auto;
}

.h-100 {
  height: 100%;
}

/*
* FONTS
*/

.font-m2 {
  font-size: 1.46666rem;
}

.font-xs {
  font-size: 1rem;
}

.font-s {
  font-size: 1.1rem;
}

.font-m {
  font-size: 1.25rem;
}

.font-l {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 1.8rem;
}

.font-xxl {
  font-size: 7rem;
}

@media screen and (max-width: 1280px) {
  .font-m2 {
    font-size: 1.4rem;
  }

  .font-xs {
    font-size: 0.966666rem;
  }

  .font-s {
    font-size: 1.1rem;
  }

  .font-m {
    font-size: 1.225rem;
  }

  .font-l {
    font-size: 1.4125rem;
  }

  .font-xl {
    font-size: 1.8rem;
  }

  .font-xxl {
    font-size: 6rem;
  }
}
@media screen and (max-width: 720px) {
  .font-m2 {
    font-size: 1.3rem;
  }

  .font-xs {
    font-size: 0.9333333rem;
  }

  .font-s {
    font-size: 1.1333333rem;
  }

  .font-m {
    font-size: 1.166666rem;
  }

  .font-l {
    font-size: 1.3225rem;
  }

  .font-xl {
    font-size: 1.9666666rem;
  }

  .font-xxl {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 440px) {
  .font-m2 {
    font-size: 1.225rem;
  }

  .font-xs {
    font-size: 0.9rem;
  }

  .font-s {
    font-size: 1.1rem;
  }

  .font-m {
    font-size: 1.125rem;
  }

  .font-l {
    font-size: 1.285rem;
  }

  .font-xl {
    font-size: 1.8rem;
  }

  .font-xxl {
    font-size: 3.4rem;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.br-5 {
  border-radius: 5px;
}

.br-10 {
  border-radius: 10px;
}

.br-15 {
  border-radius: 15px;
}

.br-20 {
  border-radius: 20px;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35) !important;
}

.white {
  color: #ffffff;
}

.black {
  color: #000000;
}

.bg-grad1 {
  background: linear-gradient(
      170deg,
      rgba(49, 57, 73, 0.8) 20%,
      rgba(49, 57, 73, 0.5) 20%,
      rgba(49, 57, 73, 0.5) 35%,
      rgba(41, 48, 61, 0.6) 35%,
      rgba(41, 48, 61, 0.8) 45%,
      rgba(31, 36, 46, 0.5) 45%,
      rgba(31, 36, 46, 0.8) 75%,
      rgba(49, 57, 73, 0.5) 75%
    ),
    linear-gradient(
        45deg,
        rgba(20, 24, 31, 0.8) 0%,
        rgba(41, 48, 61, 0.8) 50%,
        rgba(82, 95, 122, 0.8) 50%,
        rgba(133, 146, 173, 0.8) 100%
      )
      #313949;
}

.bg-grad2 {
  background: linear-gradient(
      45deg,
      rgba(20, 24, 31, 0.8) 0%,
      rgba(41, 48, 61, 0.8) 50%,
      rgba(82, 95, 122, 0.8) 50%,
      rgba(133, 146, 173, 0.8) 100%
    )
    #313949;
}

.bg-grad3 {
  background: linear-gradient(
      100deg,
      rgba(73, 49, 49, 0.8) 20%,
      rgba(73, 49, 49, 0.5) 20%,
      rgba(73, 49, 49, 0.5) 35%,
      rgba(61, 41, 41, 0.6) 35%,
      rgba(61, 41, 41, 0.8) 45%,
      rgba(46, 31, 31, 0.5) 45%,
      rgba(46, 33, 31, 0.8) 75%,
      rgba(73, 49, 49, 0.5) 75%
    ),
    linear-gradient(
        -25deg,
        rgba(31, 20, 20, 0.8) 0%,
        rgba(34, 20, 20, 0.5) 30%,
        rgba(61, 41, 41, 0.794) 30%,
        rgba(59, 45, 45, 0.555) 65%,
        rgba(179, 131, 131, 0.5) 65%,
        rgba(173, 133, 133, 0.8) 100%
      )
      #e9c4a1;
}

.bg-grad4 {
  background: linear-gradient(
      1550deg,
      rgba(49, 57, 73, 0.8) 20%,
      rgba(49, 57, 73, 0.5) 20%,
      rgba(49, 57, 73, 0.5) 35%,
      rgba(41, 48, 61, 0.6) 35%,
      rgba(41, 48, 61, 0.8) 45%,
      rgba(31, 36, 46, 0.5) 45%,
      rgba(31, 36, 46, 0.8) 75%,
      rgba(49, 57, 73, 0.5) 75%
    )
    #b43deb;
}

.bg-grad5 {
  background: linear-gradient(
      -25deg,
      rgba(31, 20, 20, 0.8) 0%,
      rgba(34, 20, 20, 0.5) 30%,
      rgba(61, 41, 41, 0.794) 30%,
      rgba(59, 45, 45, 0.555) 65%,
      rgba(179, 131, 131, 0.5) 65%,
      rgba(173, 133, 133, 0.8) 100%
    )
    #e9c4a1;
}

/****************************/
/*********TAGS**********/
/**************************/

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eeeeee;
  font-family: "Kreon", serif;
}

h3,
img {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
}

.section-heading {
  width: 100%;
  text-align: center;
  height: 64px;
  font-family: monospace;
  font-weight: 500;
  line-height: 64px;
  background-color: transparent;
}

*::selection {
  background-color: #d6edff;
  color: #373737;
}

img::selection {
  background-color: transparent;
}

/******* HEADER SECTION ************/

header {
  background: repeat-x url("../images/bg.svg");
  height: 80vh;
  width: 100%;
  background-size: 80vh 80vh;
}

.heading {
  grid-template-columns: auto;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  height: 85%;
}

.heading .welcome-text h1 {
  color: #333333;
  font-weight: 500;
  bottom: 5%;
}

.heading p {
  font-family: monospace;
  color: #222222;
}

.heading .whoami {
  font-family: monospace;
  text-transform: uppercase;
  text-decoration: none;
}

.heading .btn {
  display: inline-block;
  background-color: #646464;
  border: 2px solid #646464;
  font-style: normal;
  font-weight: normal;
  padding: 0.5rem 1rem;
  box-shadow: 3px 3px black;
  transition: all 0.1s ease-in-out;
}

.heading .btn:hover {
  opacity: 0.9;
}

/*******************************/

/****** NAVIGATION SECTION *****/
nav {
  position: sticky;
  width: 100%;
  max-width: 1140px;
  height: 60px;
  background: #2f2f2f;
  z-index: 9999;
}

nav h2 {
  font-weight: 500;
  color: #e6e6e6;
  letter-spacing: 1px;
}

.nav-links {
  width: 40%;
}

.nav-links a {
  font-family: "Goldman", "Kreon", sans-serif;
  color: #e6e6e6;
}

.burger div {
  height: 2px;
  width: 25px;
  margin: 5px;
  background-color: #eee;
  transition: all 0.3s ease;
}

.cross .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.cross .line2 {
  opacity: 0;
}

.cross .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.nav-active {
  transform: translateX(0) !important;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav {
    position: fixed;
    box-shadow: 0 3px 20px #555555;
    border-radius: 0 !important;
  }

  .nav-links {
    width: 100%;
    height: calc(100vh - 60px);
    position: absolute;
    padding-bottom: 3rem;
    right: 0;
    top: 60px;
    background: #2f2f2f;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
  }

  .nav-links li {
    transform: translateX(70px);
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .nav-links li {
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 680px) {
  nav {
    height: 50px;
  }

  .nav-links {
    height: calc(100vh - 50px);
    top: 50px;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(70px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*****************************/

/****** ABOUT  SECTION *******/

.about {
  max-width: 990px;
}

.about img {
  opacity: 0.8;
  filter: brightness(90%);
  width: 100%;
  min-width: 250px;
  max-width: 380px;
}

.about-content {
  background: #f2f2f2;
  color: #2f2f2f;
}

.about-content p,
.about-content li {
  line-height: 1.7;
}

.about-content ul li::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 1em;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
  background: linear-gradient(
    -45deg,
    #ffd7ec 0%,
    #ffbce0 40%,
    #ddb4ff 60%,
    #ecd5ff 100%
  );
  border-bottom: 2px solid black;
}

@media screen and (max-width: 768px) {
  .about-content p,
  .about-content li {
    line-height: 1.4;
  }
}

@media screen and (max-width: 650px) {
  .about {
    flex-direction: column;
  }

  .about-content p,
  .about-content li {
    line-height: 1.5;
  }
}

/************************/

/**** PROJECTS SECTION ****/
.projects {
  padding-top: 70px;
}

.color6 {
  background: #31112c;
}

.color7 {
  background: #7d0633;
}

.color8 {
  background: #f2a07b;
}

.grid-3-5 {
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}

.cell {
  position: relative;
  display: flex;
  height: 100%;
  min-height: 300px;
  align-items: center;
  justify-content: center;
}

.v1 {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: span 1;
  grid-row-end: span 1;
}

.v2 {
  grid-column-start: span 3;
  grid-column-end: 6;
  grid-row-start: span 2;
}

.v3,
.v4 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}

@media (max-width: 1000px) {
  .grid-3-5 {
    grid-template-columns: repeat(3, 1fr);
  }

  .v1 {
    grid-column-end: span 1;
  }

  .v2 {
    grid-column-start: span 2;
    grid-column-end: 4;
  }

  .v4 {
    grid-column-start: span 2;
  }
}

@media (max-width: 768px) {
  .grid-3-5 {
    grid-template-columns: 1fr 1fr;
  }

  .v2 {
    grid-column-start: span 1;
    grid-column-end: 3;
  }
}

@media (max-width: 480px) {
  .grid-3-5 {
    grid-template-columns: 1fr;
  }

  .v1,
  .v2,
  .v3,
  .v4 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
}

.project-card {
  height: 100%;
  width: 100%;
}

.project1 {
  background: url("../images/project/simple-quiz.png") no-repeat top;
  background-size: cover;
}
.project2 {
  background: url("../images/project/2.jpg") no-repeat top;
  background-size: cover;
}
.project3 {
  background: url("../images/project/lorem-nature-blog.png") no-repeat top;
  background-size: cover;
}
.project4 {
  background: url("../images/project/4.jpg") no-repeat top;
  background-size: cover;
}
.project5 {
  background: url("../images/project/5.png") no-repeat top;
  background-size: cover;
}
.project6 {
  background: url("../images/project/6.jpg") no-repeat top;
  background-size: cover;
}
.project7 {
  background: url("../images/project/7.jpg") no-repeat top;
  background-size: cover;
}
.project8 {
  background: url("../images/project/8.jpg") no-repeat top;
  background-size: cover;
}

.img-card {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.img-card:hover {
  opacity: 1;
}

.img-card h2 {
  margin-bottom: 2rem;
  cursor: default;
}

.img-card p {
  cursor: default;
}

.img-card .btn {
  cursor: pointer;
  background-color: rgb(38, 136, 217);
  color: rgb(247, 247, 247);
  font-weight: 700;
  transition: filter 0.3s ease 0s;

  margin-top: 1.5rem;
  padding: 0.4rem 1.75rem;
  border-radius: 100vh;
}

.img-card .btn:hover {
  filter: brightness(115%);
}

/**************************/

/********* skells ********/
.skills {
  width: 100%;
  max-width: 1140px;
  background: rgb(236, 236, 236);
}

.card {
  align-items: center;
  min-width: 335px;
  max-width: 552px;
  transition: all 0.3s;
  background-color: #585353;
  color: #e6e6e6;
}

.card:hover {
  transform: scale(1.03);
}

.card-image {
  height: 90px;
  width: 90px;
  flex-shrink: 0;
  background-color: #5d4c4c;
  background: url("../images/skills.png");
}

.fa-1 {
  background-position: 0 0;
}

.fa-2 {
  background-position: 90px 0;
}

.fa-3 {
  background-position: 0 90px;
}

.fa-4 {
  background-position: 90px 90px;
}

.card h4 {
  font-family: "Goldman";
  font-weight: 500;
}

.card p {
  font-family: "Kreon";
  line-height: 1.4;
}

.card-content {
  height: 100%;
  justify-content: space-evenly;
}

@media screen and (min-width: 999px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 500px) {
  .card {
    margin-left: 15px;
    margin-right: 15px;
  }
}

/***********************/

/**  contact ***********/
.contact {
  background: #4b4b4b;
}

.left,
.right {
  position: relative;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 1.5rem auto;
}

.left::after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  width: 2px;
  background-color: #979797;
}

.contact h3 {
  color: #e4e4e4;
}

.copyright {
  color: #afafaf;
}

@media screen and (max-width: 530px) {
  .container {
    flex-direction: column-reverse;
  }

  .hr,
  .left::after {
    display: none;
  }

  .left,
  .right {
    flex: auto;
    margin: 1rem auto;
  }
}

.logo-container {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  width: 70%;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  margin-right: 0.65rem;
  margin-left: 0.65rem;
}

.logo:hover {
  filter: brightness(140%);
}

form {
  padding: 1rem;
  padding-top: 0.25rem;
  width: 80%;
}

@media screen and (max-width: 840px) {
  form {
    width: auto;
  }
}

form input,
form button,
form textarea {
  border: 0;
  padding: 0.5rem;
  margin-top: 0.75rem;
}

form button {
  background-color: rgb(38, 136, 217);
  color: rgb(247, 247, 247);
  font-weight: 700;
  border-radius: 0.5rem;
  transition: filter 0.3s ease 0s;
}

form button:hover {
  filter: brightness(115%);
}

form textarea {
  resize: none;
  width: 100%;
  height: 5rem;
  padding: 0.5rem;
  font-size: 1rem;
}
